<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317918145023-6k2r9673afoc921nrh0qohf89lgckeoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317918145023-6k2r9673afoc921nrh0qohf89lgckeoq</string>
	<key>API_KEY</key>
	<string>AIzaSyDh1W7_MGZHT9omNjV8zSMT-DaD-EHqo6U</string>
	<key>GCM_SENDER_ID</key>
	<string>317918145023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jessica.vite000001</string>
	<key>PROJECT_ID</key>
	<string>vite00001-c8571</string>
	<key>STORAGE_BUCKET</key>
	<string>vite00001-c8571.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317918145023:ios:1b7084e420fc582aac5fca</string>
</dict>
</plist>